/* CSS position fixed */
.main{
    border: solid 2px black;
}
.box1{
    height: 50px;
    width: 50px;
    background-color: red;
    /* Relative position
     (Static position to trlative*/
    position: relative;
    top: 20px;
}
.box2{
    height: 50px;
    width: 50px;
    background-color: #00ff48;
    /* Absolute */
    /* position: absolute;
    top: 20px;
    left: 20px; */
}
.box3{
    height: 50px;
    width: 50px;
    background-color: rgb(74, 11, 233);
    /* Sticky position */
    /* position: sticky;
    top: 0px;  */
}

